
/***  BASE  ***/

html, body {
	font-family: Arial;
	font-size: 16px;
	line-height: 1.4;
	height: 100%;
	padding: 0;
	margin: 0;
}

.header a {
	text-decoration: none;
	color: inherit;
}

.container {
	margin:0 20px;

	/* clear fix */
	overflow: hidden;
	*zoom:1
}
.site-content {
	padding-top: 66px;
	margin: 4px;
}

/***  HEADER  ***/

.header {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	height: 66px;

	line-height: 66px;
	color: #FFFFFF;

	background-color: #155CA4;
}

.header__logo {
	font-weight: bold;
	padding: 0 5px;
	float: left;
}

/***  MENU  ***/

.menu {
	float: left;
}

.menu a {
	padding: 0 10px;
}

.menu a:hover {
	color: #0B2940;
}

/***  RESPONSIVE  ***/

@media (max-width: 750px)
{
	.site-pusher {
		height: 100%;
		transition-duration: 0.3s;
		-moz-transition-duration: 0.3s;
		-ms-transition-duration: 0.3s;
		-webkit-transition-duration: 0.3s;

		-moz-transform: translateX(0px);
		-ms-transform: translateX(0px);
		-webkit-transform: translateX(0px);
		transform: translateX(0px);
	}

	.header {
		position: static;
	}

	.header__logo {
		padding: 0;
		float: right;
		text-align: right;
	}


	.site-content {
		position: absolute;
		top: 66px;
		left: 0;
		right: 0;
		bottom: 0;
		padding-top: 0;
		overflow-y: scroll;
	}

	.header__icon {
		position: relative;
		display: block;
		float: left;

		width: 50px;
		height: 66px;

		cursor: pointer;

		background-color: rgba(#FFFFFF, 0.5);
	}

	.header__icon:after {
		content: "";
		position: absolute;
		display: block;
		width: 1rem;
		height: 0;
		top: 16px;
		left: 15px;
		box-shadow:0 10px 0 1px #fff, 0 16px 0 1px #fff, 0 22px 0 1px #fff;
	}

	.menu {
		position: absolute;
		width: 250px;

		left: 0;
		top: 0;
		bottom: 0;

		background-color: #155CA4;

		-moz-transform: translateX(-250px);
		-ms-transform: translateX(-250px);
		-webkit-transform: translateX(-250px);
		transform: translateX(-250px);

		transition-duration: 0.3s;
		-moz-transition-duration: 0.3s;
		-ms-transition-duration: 0.3s;
		-webkit-transition-duration: 0.3s;
	}

	.menu a {
		display: block;
		height: 40px;
		text-align: center;
		line-height: 40px;
		border-bottom: 1px solid #FFFFFF;
	}

	.with--sidebar .site-pusher {
		-moz-transform: translateX(250px);
		-ms-transform: translateX(250px);
		-webkit-transform: translateX(250px);
		transform: translateX(250px);
		
		transition-duration: 0.3s;
		-moz-transition-duration: 0.3s;
		-ms-transition-duration: 0.3s;
		-webkit-transition-duration: 0.3s;
	}

	.with--sidebar .site-cache {
		position: absolute;
		right: 0;
		left: 0;
		top: 0;
		bottom: 0;

		height: 100%;

		background-color: rgba(0, 0, 0, 0.6);

		-moz-transform: translateX(250px);
		-ms-transform: translateX(250px);
		-webkit-transform: translateX(250px);
		transform: translateX(250px);

		transition-duration: 0.3s;
		-moz-transition-duration: 0.3s;
		-ms-transition-duration: 0.3s;
		-webkit-transition-duration: 0.3s;
	}
}